@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
/*-------Typography-------*/
    font-family: 'Jost', sans-serif; 
    --color-text-black:#212121;
    --color-text-white:#ffffff;
    font-size: 16px;
    /*Font weight---Desktop*/
    --font-weight-desktop-light: 300;
    --font-weight-desktop-regular: 400;
    --font-weight-desktop-bold: 700;
    
    /*Font weight---Mobil*/
    --font-weight-mobil-regular: 400;
    --font-weight-mobil-medium: 500;
   /*Font size---Desktop*/
   --font-size-desktop-h1:4rem;
    --font-size-desktop-h2:3rem;
    --font-size-desktop-h3:2.25rem;
    --font-size-desktop-subtitle:1.25rem;
    --font-size-desktop-bodycopy:1rem;
    --font-size-desktop-buttontext:1rem;
    --font-size-desktop-fotnote:0.75rem;
    --font-size-desktop-herotext:6rem;
    --font-size-desktop-link:1.5rem;
    /*Font size---Mobil*/
    --font-size-mobil-h1:2.5rem;
    --font-size-mobil-h2:2rem;
    --font-size-mobil-h3:1.75rem;
    --font-size-mobil-subtitle:1.5rem;
    --font-size-mobil-bodycopy:1rem;


/*-------Colors-------*/
    --color-light-UUN:#e5d4ff;
    --color-dark-UUN:#c79cff;

    --color-UUN-black:#212121;
    --color-UUN-white:#ffffff;

    --color-light-ATP:#9bf1ff;
    --color-dark-ATP:#4be6ff;

    --color-ATP-black:#212121;
    --color-ATP-white:#ffffff;

    --color-button-uun: var(--color-light-UUN);
    --color-button-atp: var(--color-light-ATP);

    --color-black: #212121;
    --color-white: #fff;
/*------Border-------*/
    --border-radius-big:2rem;
    --border-radius-small:1rem;
    --border:0.4rem solid #212121;
    --border-small:0.2rem solid #212121

}

/*-------Tags-------*/

main {
    padding-top: 80px;
}
header {
    background-color: var(--color-black);
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
}
.logo {
    align-self: center;
    margin: 0.5rem;
    /*max-width: 150px;
    height: auto;*/
    height: 64px; 
    
}
nav {
    display: flex;
}
/*
når jeg kan sette opp en hamburgerment skal denne aktiveres
nav {
    display: none;
}
.menu {
    display: flex;

}*/

a {
    color: var(--color-text-white);
    text-decoration: none;
}
/*kilde: */
.a_button:link, .a_button:visited {
    background-color: var(--color-light-ATP);
    color: var(--color-text-black);
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: var(--border-radius-big);
  }
  
  .a_button:hover, .a_button:active {
    background-color: var(--color-dark-ATP);
  }



li {
    margin: 1rem;
    color: var(--color-text-white);
    
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
}

p {
    color: var(--color-text-white);
    font-size: var(--font-size-mob);
    margin: 1rem 0;
}
footer {
    background-color: var(--color-black);
    text-align: center;
    padding: 5rem;
    margin: 5rem 0 0 0 ;
}
h1 {
    text-align: center;
    font-size: var(--font-size-mobil-h1);
    font-weight: var(--font-weight-mobil-regular);
}
h2 {
    color: var(--color-text-black);
    font-weight: var(--font-weight-mobil-regular);
    font-size: var(--font-size-mobil-h2);
}
h3 {
    color: var(--color-text-white);
    font-weight: var(--font-weight-mobil-regular);
   /* font-size: var(--font-size-mobil-h3);*/
   font-size: 1.5rem;
}
h4 {
    color: var(--color-text-white);
    font-weight: var(--font-weight-mobil-light);
    font-size: 1.5rem;

}



/*--------index------*/


.hero_banner {
        display: flex;
        background-color: var(--color-black);
        margin: 0.5rem;
        border-radius: var(--border-radius-big);
        padding: 2.5rem;
        flex-wrap: wrap;
        justify-content: space-between;
}

.hero_img {
    width: 80%;
    margin: auto;
}
.hero_text {
    width: 100%;
    
}



/*-----universal classer-----*/
.card {
    border-radius: var(--border-radius-big);
    margin: 1.5rem;
}
.first_card {
    border-radius: var(--border-radius-big);
    margin: 1rem 1.5rem 5rem 1.5rem;
}
.card_header {
    padding: 0.5rem;
    border-radius: 2rem 2rem 0 0;
    border: var(--border);
    
}
.icon_container {
    align-items: baseline;
    justify-content: center;
    display: flex;
    background-color: var(--color-text-white);
    border-radius: var(--border-radius-small);
    flex-wrap: wrap;
}

.icon {
    width: 20%;
    height: auto;
    margin: 0 0.2rem;
    

}
.card_button {
    padding: 1rem 2rem;
    font-size: var(--font-size-desktop-buttontext);
    border-radius: var(--border-radius-small);
    font-weight: var(--font-weight-desktop-bold);
    margin: 2rem;
}
.card_text {
    padding: 1rem;
    display: grid;
}
.flex_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex_grid_container {
    /*denne er flex over vw 900px*/
    display: grid;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}   
.flex_grid_container_text {
    /*denne er flex over vw 900px*/
    display: grid;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
}   
.hero_banner_projects {
    display: flex;
    background-color: var(--color-black);
    margin: 0.5rem;
    border-radius: var(--border-radius-big);
    padding: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
}
.card_img {
    width: 70%;
    /*padding: 2rem;*/
    justify-self: center; /*fjernes?*/
    padding: 1rem;
}



/*få denne til å være mindre og også være sentrert*/
.full_size_img {
    width: 100%;
    margin: auto;
    padding: 1rem;
    display: grid;
}



.img_hero_project {
    width: 50%;
}









  



/*-----uuninja-----*/

/*--index--*/

.card_uuninja {
    background-color: var(--color-UUN-black);
}

.card_header_color_uuninja {
    background-color: var(--color-UUN-white);
}
.button_uuninja {
    background-color: var(--color-button-uun);
}
.card_img_uuninja {
    justify-self: center;
    margin: 2rem;
    width: 70%;
}
 /*FIKS ORDER*/
.order_atp_img {
    order: 2;
}
.order_atp_text {
    order: 1;
}

.a_button_uuninja:link, .a_button_uuninja:visited {
    background-color: var(--color-light-UUN);
    color: var(--color-text-black);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: var(--border-radius-big);
    font-size: var(--font-size-desktop-buttontext);
    font-weight: var(--font-weight-desktop-bold);
  }
  
  .a_button_uuninja:hover, .a_button_uuninja:active {
    background-color: var(--color-dark-UUN);
  }

/*--prosjektside uuninja--*/
.card_inspo {
    margin: auto;
    width: 100%;
}
.oppgave_prosess {
    display: block;
    justify-content: center;
}
.card_oppgave {
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
    border-radius: var(--border-radius-big);
}
.card_prosess {
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
    border-radius: var(--border-radius-big);
}
.img_design_system {
    width: 30%;
}

.design_system {
    display: flex;
    flex-wrap: wrap;
}











/*----------------------------------------------*/

/*-----all the pets-----*/

/*--index--*/
.card_atp {
    background-color: var(--color-ATP-black);
    border-radius: var(--border-radius-big);
}
.card_header_color_atp {
    background-color: var(--color-ATP-white);
    
}
.button_atp {
    background-color: var(--color-button-atp);
   
}
.card_img_atp {
    width: 50%;
    border-radius: var(--border-radius-small);
    margin: 1rem;
    justify-self: center;
}

.a_button_atp:link, .a_button_atp:visited {
    background-color: var(--color-light-ATP);
    color: var(--color-text-black);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: var(--border-radius-big);
    font-size: var(--font-size-desktop-buttontext);
    font-weight: var(--font-weight-desktop-bold);
  }
  
  .a_button_atp:hover, .a_button_atp:active {
    background-color: var(--color-dark-ATP);
  }

/*--prosjektside atp--*/

.hero_img_atp {
    width: 40%;
}
.icon_container_atp {
    display: grid;
    justify-content: center;
    padding: 0.5rem;
    background-color: var(--color-text-white);
    border-radius: var(--border-radius-small);
}
.icon_atp {
    height: 5rem;
    width: 5rem;
    padding: 0.5rem;
}
.flex_grid_container_atp {
    /*denne er flex over vw 900px*/
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}   

.img_landingsside {
    width: 40%;
    margin: auto;
    background-color: var(--color-ATP-white);
    border-radius: var(--border-radius-small);
}
.grid_landingpage {
    display: grid;
    justify-items: end;
}




/*-------back buttons------*/

.back_container {
    display: flex;
    margin: 1.5rem;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}
.back_button {
    /*padding: 1rem 2rem;
    font-size: var(--font-size-desktop-buttontext);
    border-radius: var(--border-radius-small);
    font-weight: var(--font-weight-desktop-bold);
    margin: 2rem;
    background-color: var(--color-button-uun);
    border: var(--border);
    color: var(--color-text-black);*/
    border: var(--border-small);
}

.h3_back {
    color: var(--color-text-black);
}

.next_project {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back_img {
    width: 20vw;
}



/*----------about----------*/

.h3_about {
    color: var(--color-text-black);
}
.p_about {
    color: var(--color-text-black);
}
.icon_about {
    text-align: center;
}
.tools_container {
    border: var(--border);
    border-radius: var(--border-radius-big);
    margin: 5rem;
    padding: 1rem;
    text-align: center;
}
.profil_img {
    width: 40%;
    margin: auto;
    border-radius: var(--border-radius-small);
    border: 3px solid var(--color-white);
}



/*--------contact--------*/
.a_contact {
    text-decoration: underline;
    color: #9bf1ff;
}



/*-------footer------*/

.h2_footer {
    color: var(--color-text-white);
    font-size: 1.5rem
}
.h3_footer {
    font-size: 1rem;
}
.h4_footer {
    font-size: 1rem;
}
.p_footer {
    color: var(--color-text-white);
    font-size: var(--font-size-desktop-buttontext);
}
.footer_fixed {
    position: fixed;
    width: 100%;
    bottom: 0;
}





@media screen and (min-width: 500px) {
    .h2_footer {
        font-weight: var(--font-weight-mobil-regular);
        font-size: var(--font-size-mobil-h2);
    }
    .h3_footer {
        font-weight: var(--font-weight-mobil-regular);
        font-size: var(--font-size-mobil-h3);
    }
    .h4_footer {
        font-weight: var(--font-weight-mobil-light);
        font-size: 1.5rem;
    }
    .back_container {
        display: flex;
        padding: 0 5rem;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
    }
    .card_inspo {
        margin: auto;
        width: 30%;
    }
}


@media screen and (min-width: 700px) {
    .card_img_atp {
        width: 50%;
    }
    .hero_banner {
        flex-wrap: nowrap;
    }
    .hero_img {
        display: flex;
        width: 40%;
        justify-self: center;
    }
    h1 {
        text-align: center;
        font-size: var(--font-size-desktop-h1);
        font-weight: var(--font-weight-desktop-bold);
    }
    h2 {
        color: var(--color-text-black);
        font-weight: var(--font-weight-desktop-regular);
        font-size: var(--font-size-desktop-h2);
    }
    h3 {
        color: var(--color-text-white);
        font-weight: var(--font-weight-desktop-regular);
        font-size: var(--font-size-desktop-h3);
    }
    .icon {
        height: 5rem;
        margin: 0 0.5rem;
        width: 5rem;
        padding: 0.5rem;
        
    }
    .card {
        margin: 5rem;
    }
    .first_card {
        border-radius: var(--border-radius-big);
        margin: 1rem 5rem 5rem 5rem;
    }
    .hero_banner {
        display: flex;
        background-color: var(--color-black);
        margin: 2rem;
        border-radius: var(--border-radius-big);
        padding: 2.5rem;
        /*flex-wrap: wrap;*/
        justify-content: space-between;
    }
    p {
        color: var(--color-text-white);
        font-size: var(--font-size-desktop-bodycopy);
        margin: 1rem 0;
    }
    h1 {
        text-align: center;
        font-size: var(--font-size-mobil-h1);
        font-weight: var(--font-weight-mobil-regular);
    }
    h2 {
        color: var(--color-text-black);
        font-weight: var(--font-weight-mobil-regular);
        font-size: var(--font-size-mobil-h2);
    }
    h3 {
        color: var(--color-text-white);
        font-weight: var(--font-weight-mobil-regular);
        font-size: var(--font-size-mobil-h3);
    }
    h4 {
        color: var(--color-text-white);
        font-weight: var(--font-weight-desktop-light);
        font-size: 28px;
    }
    .card_img {
        width: 60%;
        padding: 2rem;
        justify-self: center; /*fjernes?*/
    }
    .card_oppgave {
        margin: 5rem 5rem 5rem 5rem;
        border-radius: var(--border-radius-big);
    }
    .card_prosess {
        margin: 5rem 5rem 5rem 5rem;
        border-radius: var(--border-radius-big);
    }
    
    
}


@media screen and (min-width: 900px) {
    .flex_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }   
    .card_img_uuninja {
        margin: 2rem;
        width: 40%;
    }
    .card_img_atp {
        width: 30%;
        border-radius: var(--border-radius-small);
        margin: 1rem;
    }
    .first_card {
       
        margin: 5rem 10%;
    }
    .flex_grid_container {
         /*denne er grid under vw 900px*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }   
    .flex_grid_container_atp {
        /*denne er grid under vw 900px*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }   
    .grid_landingpage {
        display: grid;
    }
    .order_atp_img {
        order: 1;
    }
    .order_atp_text {
        order: 2;
    }  
    .card_img {
        width: 40%;
        padding: 2rem;
        justify-self: center; /*fjernes?*/
    }
   

}
@media screen and (min-width: 1000px) {
    .flex_grid_container_text {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }   
    .oppgave_prosess {
        display: flex;
        justify-content: center;
        
    }
    .card_oppgave {
        margin: 3rem 2rem 0 10%;
    }
    .card_prosess {
        margin: 3rem 10% 0 2rem;
    }
    .card {
        margin: 5rem 10%;
    }
    
}








